<div class="pokedex">
  <div class="pokedex-front-cover">
   <img src="../../assets/pokemon-clipart-outline-7-imptint-color.png" alt="Pikachu" class="pokedex-front-page-image"/>
    <h2 class="pokedex-front-cover-header">Pokedex</h2>
    <h2 class="pokedex-open-book-button" (click)="applyFlipForward($event.target)">
      Open
      <mat-icon class="pokedex-open-book-button-arrow">arrow_right</mat-icon>
    </h2>
  </div>
  <div class="white-page">
   <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="pokemon"/>
   <h2>123</h2>
  </div>
  <div class="white-page"></div>
  <div class="pokedex-back-cover"></div>
</div>
