<div class="header-wrapper">
  <div class="header">
    <div class="header-logo-wrapper">
      <img
        src="../../assets/pokeball_2.png"
        alt="pokemon ball"
        class="pokeball-header"
      />
      <img
        src="../../assets/pokemon_trainers_logo1.png"
        alt="pokemon trainers"
      />
    </div>
    <div class="header-navigator">
      <div class="header-item-divider"></div>
      <h2 class="header-item">Trainers</h2>
      <div class="header-item-divider"></div>
      <h2 class="header-item">Pokedex</h2>
      <div class="header-item-divider"></div>
      <div class="header-button">
         <mat-icon class="header-logout-button">logout</mat-icon>
      </div>
    </div>
  </div>
</div>
